<?xml version="1.0" encoding="UTF-8"?>
<manifest android:installLocation="auto" package="com.companyname.yootaskform" android:versionName="1.0" android:versionCode="1" 
          xmlns:android="http://schemas.android.com/apk/res/android">
<uses-sdk android:targetSdkVersion="28" android:minSdkVersion="21"/>
<application android:usesCleartextTraffic="true" android:label="YooTaskForm.Android"> </application>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.INTERNET"/>
</manifest>